<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room - {{ .Id }}</title>
</head>
<body>
    <form action="/save" enctype="multipart/form-data" method="post">
        <input type="file" name="file" required>
        <input type="text" value="{{ .Id }}" name="id" hidden>
        <button type="submit">отправить</button>
    </form>
    
    <form action="/close" method="get">
        <input type="text" value="{{ .Id }}" name="id" hidden>
        <button type="submit">закрыть комнату</button>
    </form>

    {{ range .Files}}
    {{ . }} <a href="/static/f/{{$.Id}}/{{.}}" download="{{.}}">Download</a> <br>
    {{ end }}
</body>
</html> 